.not-found
    width 100%
    background #DDD
    text-align center
    padding 280px 0
    +tablet()
        padding 160px 0
    +mobile()
        padding 100px 0
    h1
        display inline-block
        padding 15px 18px 12px
        border 2px solid #000
        fira 12 medium
        letter-spacing 1px
        color #000
        text-transform uppercase
