footer
    width 100%
    margin-top 85px
    padding 0 0 55px
    .marca
        position relative
        width 100%
        height 84px
        margin 0
        background $img('logo-footer.png') no-repeat center
        &:before
        &:after
            content ''
            position absolute
            width 270px
            height 2px
            background #000
            top 22px
            transition transform .4s cubic-bezier(0.4, 0, 0.2, 1)
            transform scale(0, 1)
            transition-delay .2s
        &:before
            left 0
            transform-origin right center
        &:after
            right 0
            transform-origin left center
    .colunas
        clearfix()
        .links
            display block
            width 270px
            float left
            text-align center
            list-style none
            padding 0
            margin 0
            li
                display block
                width 100%
                margin-bottom 12px
                &:last-child
                    margin-bottom 0
            a
                display inline-block
                fira 11 medium
                position relative
                &:after
                    content ''
                    position absolute
                    bottom -2px
                    left 0
                    width 100%
                    height 1px
                    background #000
                    transform scale(0, 1)
                    transform-origin right center
                    transition transform .4s cubic-bezier(0.4, 0, 0.2, 1)
                &:hover:after
                    transform-origin left center
                    transform scale(1,1)
        .social
            width calc('100% - 540px')
            float left
            text-align center
            margin-top 26px
            padding-bottom 70px
            position relative
            font-size 0
            &:after
                content ''
                position absolute
                bottom 0
                left 50%
                margin-left -1px
                width 2px
                height 45px
                background #000
                transition transform .4s cubic-bezier(0.4, 0, 0.2, 1)
                transform-origin top center
                transform scale(1, 0)
                transition-delay .2s
            a
                display inline-block
                width 28px
                height 28px
                text-indent -9999px
                transition transform .3s
                position relative
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    right 0
                    background #fff
                    transition width .6s cubic-bezier(0.4, 0, 0.2, 1)
                    transition-delay .4s
                &:hover
                    transform translateY(-3px)
                &.facebook
                    background $img('facebook-footer.png') no-repeat center
                &.instagram
                    background $img('instagram-footer.png') no-repeat center
                    margin 0 85px
                &.linkedin
                    background $img('linkedin-footer.png') no-repeat center
    .newsletter
        width 340px
        margin 0 auto 60px
        clearfix()
        p
            margin 25px 0 15px
            fira 14 medium
            text-align center
        input[type=email]
            width calc('100% - 105px')
            border 2px solid #000
            float left
            height 40px
            outline 0
            fira 11 semi
            text-transform uppercase
            background transparent
            padding 0 12px
            +placeholder()
                color #a7a9ac
        .botao
            position relative
            width 105px
            float left
            cursor pointer
            border 2px solid #000
            border-left none
            height 40px
            outline 0
            background transparent
            cursor pointer
            font-size 0
            span
                position absolute
                width 100%
                top 50%
                transform translateY(-50%)
                left 0
                fira 11 bold
                letter-spacing .7px
                text-align center
                color #000
                transition color .4s cubic-bezier(0.4, 0, 0.2, 1)
                z-index 2
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background #000
                transform scale(0, 1)
                transform-origin right center
                transition transform .4s cubic-bezier(0.4, 0, 0.2, 1)
            &:hover
                span
                    color #fff
                &:after
                    transform-origin left center
                    transform scale(1,1)
        #form-newsletter-response
            display none
            float left
            width 100%
            fira 11 medium
            background $amarelo
            color #000
            padding 8px
            margin-top 4px
            text-align center
            text-transform uppercase
    .endereco
    .copyright
        text-align center
        text-transform uppercase
        letter-spacing .7px
        margin 0
    .endereco
        fira 12 medium
        line-height 1.5
        a
            color #000
            text-decoration none
            transition color .3s
            &:hover
                    color #FBAE1A
    .copyright
        fira 11 medium
        margin-top 35px
        span
            font-size 0
    +tablet()
        margin-top 65px
        padding 0 0 45px
        .marca
            &:before
            &:after
                width calc('50% - 190px')
        .colunas
            .links
                width calc('50% - 190px')
            .social
                width 380px
                a.instagram
                    margin 0 40px 0
    +mobile()
        margin-top 45px
        padding 0 0 30px
        .marca
            background-size auto 90%
            &:before
            &:after
                top 24px
                width calc('50% - 115px')
        .colunas
            .links
                display none
            .social
                width 100%
                a.instagram
                    margin 0 40px 0
        .newsletter
            width 100%
            max-width 340px
            margin-bottom 45px
        .copyright
            margin-top 20px
            span
                display block

footer.visible
    .marca:before
    .marca:after
        transform scale(1, 1)
    .social:after
        transform scale(1, 1)
    .social a:after
        width 0
