.top-bar
    height 45px
    background #000
    .center
        clearfix()
        height 100%
    a
        display block
        float left
        width 25px
        height 100%
        margin-right 8px
        opacity .6
        transition opacity .3s
        text-indent -9999px
        &:hover
            opacity 1
        &.facebook
            background $img('facebook.png') no-repeat center
        &.instagram
            background $img('instagram.png') no-repeat center
        &.linkedin
            background $img('linkedin.png') no-repeat center

header
    width 100%
    background #fff
    position relative
    z-index 2
    .center
        clearfix()
        height 80px
    .logo
        display block
        width 212px
        height 100%
        float left
        text-indent -9999px
        background $img('logo.png') no-repeat center
    #nav-desktop
        height 100%
        float right
        +below($tablet)
            display none
        a
            line-height 83px
            fira 12 medium
            margin-left 20px
            &.active
                fira 12 bold
                color #000 !important
                cursor default
            &:hover
                color $amarelo
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 23px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 3px
            background #000
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 3px
                background #000
                transition .3s ease
            &:before
                top 6px
            &:after
                top -6px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        border-top 1px solid #E6E6E6
        box-shadow 0 3px 4px rgba(#000, .15)
        padding 20px 0
        text-align center
        z-index 2
        clearfix()
        a
            display block
            width 50%
            text-align center
            float left
            fira 13 medium
            margin 8px 0
            +tablet()
                width 33.333%
            &.active
                fira 13 bold
            &:last-child
                display inline-block
                width auto
                float none
                margin-top 20px
                padding 10px 16px 8px
                background #000
                color #fff
