desktop-base-width     = 960px
rupture.desktop-cutoff = $tablet = 1060px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$amarelo = #FBAE1A

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700')

@font-face
    font-family 'Aleo'
    src url('../fonts/aleo-light-webfont.woff2') format('woff2'),
        url('../fonts/aleo-light-webfont.woff') format('woff')
    font-weight 300
    font-style normal
@font-face
    font-family 'Aleo'
    src url('../fonts/aleo-regular-webfont.woff2') format('woff2'),
        url('../fonts/aleo-regular-webfont.woff') format('woff')
    font-weight normal
    font-style normal

fira($size, $weight = normal)
    font-size $size + 0px
    font-family 'Fira Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 300
    if $weight == light
        font-weight 200
    if $weight == medium
        font-weight 500
    if $weight == semi
        font-weight 600
    if $weight == bold
        font-weight 700

aleo($size, $weight = normal)
    font-size $size + 0px
    font-family 'Aleo', 'Georgia', 'Times New Roman', serif
    font-weight 400
    if $weight == light
        font-weight 300
