.clube-maquinas-margin
    margin-bottom 95px
    +mobile()
        margin-bottom 0

.clube-maquinas
    position relative
    padding-bottom 80px !important
    +tablet()
        padding-bottom 50px !important
    +mobile()
        padding-bottom 0 !important
    .btn-contato
        display inline-block
        position absolute
        bottom 0
        left 60px
        background #000
        color #fff
        transition background .3s
        padding 16px 30px
        aleo 26
        transform translateY(50%)
        &:hover
            background $amarelo
        +tablet()
            left 40px
        +mobile()
            position relative
            bottom auto
            left auto
            padding 12px 25px
            aleo 20
            transform none
            margin-top 25px
    .maquinas-selecao
        display flex
        flex-wrap wrap
        font-size 0
        margin-top 50px
        +tablet()
            margin-top 40px
        +mobile()
            margin-top 25px
        a
            display inline-block
            width calc('50% - 10px')
            margin-right 20px
            margin-bottom 20px
            &:nth-child(2n)
                margin-right 0
            vertical-align top
            padding 90px 60px 65px
            background $img('clube-icone-24x32-cinza.png') no-repeat center 25px
            border 1px solid #939598
            text-align center
            transition background .3s
            h2
                aleo 30 light
                color #000
                margin 0 0 15px
                transition color .3s
                +tablet()
                    font-size 26px
            p
                fira 15
                color #939598
                margin 0
                transition color .3s
            &:hover
                background $img('clube-icone-24x32.png') no-repeat center 25px #000
                h2
                p
                    color #fff
            +mobile()
                width 100%
                margin-right 0
                margin-bottom 10px
                &:nth-child(2n)
                    margin-right 0
                padding 80px 40px 40px
                h2
                    font-size 20px
                p
                    font-size 14px

.clube-treinamento
    .full-width
        margin 60px -60px -60px
        +tablet()
            margin 40px -40px -40px
        +mobile()
            margin 25px 0 0
        clearfix()
        .left
            width 35%
            float left
            img
                display block
                width 100%
                margin-top 175px
            +mobile()
                display none
        .right
            width 65%
            float left
            +mobile()
                width 100%
            > img
                width 100%
                display block
            .texto
                padding 61px 125px 61px 135px
                h2
                    aleo 30 light
                    margin 0 0 1em
                p
                    margin 0
                    fira 15
                    margin 0
                    a:hover
                        color $amarelo
                +tablet()
                    padding 30px 40px 30px
                    h2
                        font-size 24px
                +mobile()
                    padding 25px 0
                    h2
                        font-size 20px
                    p
                        font-size 14px
            .imagem-3
                display block
                position relative
                background $img('bg-banner.jpg') no-repeat right bottom
                background-size auto 100%
                img
                    width 75%
                    display block

.clube-manuais
    .lista-manuais
        margin-top 30px
        .header
            clearfix()
            margin-bottom 5px
            span
                display inline-block
                fira 15 bold
                +mobile()
                    font-size 14px
                float left
                &:last-child
                    width 50px
                    float right
        a
            display block
            border-top 1px solid #000
            &:last-child
                border-bottom 1px solid #000
            padding 25px 0
            transition background .3s
            &:hover
                background #F8F8F8
            clearfix()
            span:first-child
                display block
                width calc('100% - 60px')
                float left
                fira 15
                padding-top 3px
                +mobile()
                    font-size 14px
            span:last-child
                display block
                width 50px
                height 23px
                float right
                text-indent -9999px
                background $img('clube-download.png') no-repeat center

.clube-orcamento-maquinas
    form
        max-width 530px
        margin 60px auto 0
        +mobile()
            margin 30px auto 0
        .erros
            width 100%
            max-width 560px
            margin 0 auto 25px
            border 2px solid $amarelo
            padding 20px
            p
                margin 0
                color #000
                fira 13
                text-transform uppercase
        input[type=text]
        input[type=email]
            width 100%
            margin 0 0 5px
            border 1px solid #000
            outline 0
            fira 15 medium
            padding 15px
            &[name=cpf]
            &[name=telefone]
            &[name=cidade]
            &[name=estabelecimento]
            &[name=pessoas]
            &[name=consumo]
                width 70%
                +mobile()
                    width 100%
        input[type=submit]
            display block
            margin-top 40px
            width 180px
            height 38px
            fira 13 medium
            letter-spacing .7px
            color #000
            background $amarelo
            border 0
            outline 0
            cursor pointer
            transition background .3s, color .3s
            +mobile()
                margin-top 20px
            &:hover
                background #000
                color $amarelo
    .obrigado
        width 100%
        height 467px
        background $img('clube-confirmacao-bg.jpg') no-repeat center bottom
        background-size cover
        margin-top 50px
        margin-bottom 30px
        +tablet()
            margin-top 35px
            margin-bottom 20px
        +mobile()
            margin-top 25px
            margin-bottom 0
            height auto
            padding 0 30px 100px
        p
            padding-top 180px
            display block
            background $img('clube-icone-42x56.png') no-repeat center 75px
            width 100%
            margin 0
            aleo 40 light
            line-height 1.1
            text-align center
            +tablet()
                font-size 32px
            +mobile()
                padding-top 110px
                background $img('clube-icone-24x32.png') no-repeat center 40px
                aleo 20
    .btn-contato
        display inline-block
        position absolute
        bottom 0
        left 60px
        background #000
        color #fff
        transition background .3s
        padding 16px 30px
        aleo 26
        transform translateY(50%)
        &:hover
            background $amarelo
        +tablet()
            left 40px
        +mobile()
            position relative
            bottom auto
            left auto
            padding 12px 25px
            aleo 20
            transform none
            margin-top 25px

.clube-videos
    padding-bottom 0 !important
    .video-aberto
        margin 30px 0 55px
        +mobile()
            margin 20px 0 25px
        .embed-video
            position relative
            padding-bottom 56.25%
            height 0
            overflow hidden
            max-width 100%
            iframe
                position absolute
                top 0
                left 0
                width 100%
                height 100%
        .texto
            padding 20px 12px 0
            +mobile()
                padding 15px 0 0
            h2
                aleo 34
                font-weight normal
                margin 0 0 .8em
                +tablet()
                    font-size 28px
                +mobile()
                    font-size 20px
                span
                    display inline-block
                    margin 0 .2em
                    color $amarelo
            p
                fira 15
                margin 0
    .ultimos-videos
        background #EBEBEB
        padding 45px 60px
        margin 0 -60px
        +tablet()
            margin 0 -40px
            padding 35px
        +mobile()
            margin 30px -5% 0
            padding 5%
        h3
            display block
            width 100%
            color #939598
            fira 15 medium
            margin 0 0 45px
            border-bottom 1px solid #939598
            padding-bottom 10px
            +mobile()
                margin-bottom 25px
        .btn-mais
            display inline-block
            margin-top 15px
            border 1px solid #000
            fira 13
            letter-spacing .5px
            padding 10px 14px 9px
            transition background .3s, color .3s
            &:hover
                background #000
                color #fff
    .videos-thumbs
        display flex
        flex-wrap wrap
        font-size 0
        a
            display inline-block
            vertical-align top
            width calc('33.333% - 13.333px')
            margin-right 20px
            margin-bottom 20px
            background #fff
            transition background .3s
            +mobile()
                width 100%
                margin-right 0
            &:nth-child(3n)
                margin-right 0
            &:hover
                background $amarelo
                .imagem .play
                    background $amarelo
            .imagem
                position relative
                .play
                    position absolute
                    width 40px
                    height 40px
                    background rgba(#fff, .4)
                    border-radius 100%
                    top 50%
                    left 50%
                    transform translateX(-50%) translateY(-50%)
                    transition background .3s
                    &:after
                        content ''
                        position absolute
                        top 50%
                        left 50%
                        transform translateX(-40%) translateY(-50%)
                        width 0
                        height 0
                        border-style solid
                        border-width 6px 0 6px 13px
                        border-color transparent transparent transparent #fff
                img
                    width 100%
                    display block
            .texto
                padding 15px
                h4
                    aleo 20
                    font-weight normal
                    margin 0 0 .6em
                    span
                        color $amarelo
                p
                    fira 14
                    margin 0
    .videos-mais
        background #EBEBEB
        padding 45px 60px
        margin 45px -60px 0
        +tablet()
            margin 40px -40px 0
            padding 35px
        +mobile()
            margin 30px -5% 0
            padding 5%
