body
    +below($mobile)
        background #FFF !important
.clube
    .clube-header
        width 100%
        height 435px
        background $img('clube-header.jpg') no-repeat center
        padding-top 92px
        .center
            position relative
            height 100%
        h3
        h2
        form
            max-width 560px
            margin 0 auto
        h3
            fira 14 medium
            color $amarelo
            margin-bottom 1em
            letter-spacing .7px
        h2
            aleo 40 light
            color #fff
        form
            margin-top 40px
            position relative
            input[type=text]
                width 355px
                height 54px
                border 1px solid #fff
                background transparent
                outline 0
                fira 15 semi
                padding 0 45px 0 20px
                color #fff
                position relative
            input[type=submit]
                width 45px
                height 54px
                position absolute
                left 310px
                top 0
                cursor pointer
                border 0
                outline 0
                text-indent -9999px
                background $img('clube-busca.png') no-repeat center transparent
        .logout
            position absolute
            bottom 80px
            right 60px
            display inline-block
            fira 13 semi
            letter-spacing .7px
            color $amarelo
            &:hover
                color #fff
        +mobile()
            background #000
            height auto
            padding 25px 0
            h2
            h3
            form
                max-width 100%
            h3
                font-size 12px
            h2
                font-size 24px
            form
                width 100%
                margin-top 20px
                input[type=text]
                    width 100%
                input[type=submit]
                    left auto
                    right 0
            .logout
                position relative
                display block
                margin-top 15px
                bottom auto
                right auto

.clube-login
    max-width 620px
    margin 0 auto
    clearfix()
    input[type=email]
    input[type=password]
        width 300px
        height 50px
        float left
        background #000
        border 0
        outline 0
        fira 15 semi
        padding 12px
        color #fff
    input[type=password]
        margin-left 20px
    +mobile()
        max-width 100%
        margin-top 20px
        input[type=email]
        input[type=password]
            width 100%
        input[type=password]
            margin-left 0
            margin-top 5px
    .links
        width 300px
        float left
        margin-top 25px
        p
            margin 0
            fira 14 medium
            color #666
            a
                color #000
                &:hover
                    color $amarelo
        +mobile()
            width 100%
    .botao
        width 160px
        float right
        margin-top 20px
        input
            width 100%
            height 50px
            background $amarelo
            fira 14 medium
            letter-spacing 1px
            color #000
            border 0
            outline 0
            cursor pointer
            transition background .3s, color .3s
            &:hover
                color #fff
                background #000
        +mobile()
            float left
    .erros
        width 100%
        float left
        margin-top 20px
        border 2px solid $amarelo
        padding 20px
        p
            margin 0
            color #000
            fira 13
            text-transform uppercase

.clube-container
    padding 60px
    +tablet()
        padding 40px
    +mobile()
        padding 25px 0
    .titulo
        h1
            aleo 40 light
            margin 1em 0 .4em
            +mobile()
                font-size 24px
        p
            fira 15
            margin 0
            +mobile()
                font-size 14px

.clube-esqueci
    form
        width 100%
        max-width 560px
        margin 100px auto 0
        padding-top 100px
        background $img('clube-icone-42x56.png') no-repeat center top
        text-align center
        +mobile()
            margin-top 30px
            padding-top 0
            background none
        input[type=email]
        input[type=password]
            width 100%
            margin 0 auto 40px
            border 1px solid #000
            outline 0
            fira 15 medium
            padding 15px
            &.no-margin
                margin-bottom 5px
        input[type=submit]
            width 160px
            height 32px
            fira 13 medium
            letter-spacing .7px
            color #fff
            background #000
            border 0
            outline 0
            cursor pointer
            transition background .3s, color .3s
            &:hover
                background $amarelo
                color #fff
    .erros
        width 100%
        max-width 560px
        margin 0 auto 25px
        border 2px solid $amarelo
        padding 20px
        p
            margin 0
            color #000
            fira 13
            text-transform uppercase
    .senha-redefinida
        margin-top 40px
        background #F8F8F8
        padding 20px
        text-align left
        aleo 18
        color #000
        +mobile()
            margin-top 25px

.clube-cadastro
    form
        max-width 530px
        margin 60px auto 0
        +mobile()
            margin 30px auto 0
        .erros
            width 100%
            max-width 560px
            margin 0 auto 25px
            border 2px solid $amarelo
            padding 20px
            p
                margin 0
                color #000
                fira 13
                text-transform uppercase
        .selecao-cadastro
            border 2px solid #000
            margin-bottom 55px
            +mobile()
                margin-bottom 20px
            clearfix()
            label
                width 50%
                float left
                cursor pointer
                input
                    display none
                    &:checked
                        + span
                            background $amarelo
                            color #000
                span
                    display block
                    width 100%
                    text-align center
                    padding 12px
                    fira 15 medium
                    color #BEBEBE
                    transition color .3s, background .3s
                + label
                    border-left 2px solid #000
                +mobile()
                    width 100%
                    + label
                        border-left none
                        border-top 2px solid #000
        input[type=text]
        input[type=email]
        input[type=password]
            width 100%
            margin 0 0 5px
            border 1px solid #000
            outline 0
            fira 15 medium
            padding 15px
            &[name=cpf]
            &[name=cnpj]
            &[name=inscricao_estadual]
            &[name=telefone]
            &[name=password]
            &[name=password_confirmation]
                width 50%
                +mobile()
                    width 100%
        input[type=submit]
            display block
            margin-top 40px
            width 160px
            height 32px
            fira 13 medium
            letter-spacing .7px
            color #fff
            background #000
            border 0
            outline 0
            cursor pointer
            transition background .3s, color .3s
            +mobile()
                margin-top 20px
            &:hover
                background $amarelo
                color #fff
.clube
    .btn-voltar
        padding-left 16px
        background $img('clube-voltar.png') no-repeat center left
        fira 15 medium
        letter-spacing .7px
        color #939598
        &:hover
            color #000
    .btn-sacola
        float right
        fira 13 medium
        padding-right 28px
        line-height 21px
        color #939598
        letter-spacing .7px
        background $img('clube-sacola.png') no-repeat center right
        &:hover
            color #000
        span
            display inline-block
            transform translateY(2px)
        +mobile()
            display block
            float none
            padding-left 28px
            background-position center left
            margin-top 10px
