.clube-produtos
    position relative
    padding-bottom 80px !important
    +tablet()
        padding-bottom 50px !important
    +mobile()
        padding-bottom 0 !important
    .produtos-thumbs
        margin-top 50px
        display flex
        flex-wrap wrap
        font-size 0
        +tablet()
            margin-top 40px
        +mobile()
            margin-top 30px
        .produto
            display inline-block
            vertical-align top
            width calc('33.333% - 43.333px')
            margin-right 65px
            margin-bottom 35px
            &:nth-child(3n)
                margin-right 0
            img
                display block
                max-width 100%
            h3
                aleo 18
                font-weight normal
                margin 1em 0
                padding-bottom .5em
                border-bottom 1px solid #000
                span
                    color $amarelo
            p
                fira 14
                margin 0
            +tablet()
                width calc('50% - 33.333px')
                margin-right 50px
                &:nth-child(2n)
                    margin-right 0
                &:nth-child(3n)
                    margin-right 50px
            +mobile()
                width 100%
                margin-right 0
                margin-bottom 30px
            .solicitar
                margin-top 20px
                width 100%
                > a
                    display inline-block
                    vertical-align top
                    width 90px
                    height 34px
                    margin-left 8px
                    background #000
                    fira 12 medium
                    letter-spacing .7px
                    line-height 34px
                    text-align center
                    color #fff
                    transition background .3s, color .3s
                    &:hover
                        background $amarelo
                        color #000
                .contador-wrapper
                    width 90px
                    height 34px
                    display inline-block
                    border 1px solid #000
                    position relative
                    vertical-align top
                    input
                        position absolute
                        height 100%
                        width 62px
                        left 14px
                        outline 0
                        border 0
                        fira 14
                        text-align center
                    .mais
                    .menos
                        display block
                        width 15px
                        height 100%
                        position absolute
                        top 0
                        &:before
                            content ''
                            position absolute
                            width 5px
                            height 1px
                            top 16px
                            left 5px
                            background #000
                    .mais
                        right 0
                        &:after
                            content ''
                            position absolute
                            width 1px
                            height 5px
                            top 14px
                            left 7px
                            background #000
                    .menos
                        left 0
            > span
                display block
                width 90px
                fira 13
                text-align center
                margin-top 8px
    .btn-contato
        display inline-block
        position absolute
        bottom 0
        left 60px
        background #000
        color #fff
        transition background .3s
        padding 16px 30px
        aleo 26
        transform translateY(50%)
        &:hover
            background $amarelo
        +tablet()
            left 40px
        +mobile()
            position relative
            bottom auto
            left auto
            padding 12px 25px
            aleo 20
            transform none
            margin-top 25px
    .lista-checkout
        margin-top 40px
        +mobile()
            margin-top 30px
        .header
            clearfix()
            margin-bottom 5px
            +mobile()
                display none
            span
                display inline-block
                fira 15 bold
                float left
                &:nth-child(1)
                    width calc('100% - 277px')
                    margin-left 82px
                &:nth-child(2)
                    width 145px
                &:nth-child(3)
                    width 50px
                +mobile()
                    font-size 14px
        .produto
            border-top 1px solid #000
            &:last-child
                border-bottom 1px solid #000
            clearfix()
            img
                width 60px
                float left
                padding 8px 0
            > span
                fira 14
                float left
                width calc('100% - 277px')
                padding 30px 0 15px
                margin-left 22px
                +mobile()
                    width calc('100% - 82px')
        .quantidade
            float left
            width 145px
            font-size 0
            margin-top 20px
            +mobile()
                clear left
                margin-top 0
                padding-bottom 10px
            .contador-wrapper
                width 90px
                height 34px
                display inline-block
                border 1px solid #000
                position relative
                vertical-align top
                input
                    position absolute
                    height 100%
                    width 62px
                    left 14px
                    outline 0
                    border 0
                    fira 14
                    text-align center
                .mais
                .menos
                    display block
                    width 15px
                    height 100%
                    position absolute
                    top 0
                    &:before
                        content ''
                        position absolute
                        width 5px
                        height 1px
                        top 16px
                        left 5px
                        background #000
                .mais
                    right 0
                    &:after
                        content ''
                        position absolute
                        width 1px
                        height 5px
                        top 14px
                        left 7px
                        background #000
                .menos
                    left 0
            .btn-atualizar
                display inline-block
                width 34px
                height 34px
                border 1px solid #000
                border-left none
                background $img('clube-atualizar.png') no-repeat center
                transition background .3s
                text-indent -9999px
                &:hover
                    background-color $amarelo
        .btn-excluir
            display block
            width 50px
            height 34px
            float right
            margin-top 20px
            background $img('clube-excluir.png') no-repeat center
            text-indent -9999px
            +mobile()
                margin-top 0
                float left
                width 34px
    .nenhum-produto
        background #F8F8F8
        margin 40px 0 60px
        +mobile()
            margin 25px 0 35px
        padding 20px
        text-align center
        aleo 16
    .form-pedido
        margin 50px 0 75px
        text-align right
        input
            display inline-block
            width 160px
            height 34px
            background #000
            color #fff
            fira 13 medium
            letter-spacing .7px
            border 0
            outline 0
            cursor pointer
            transition background .3s, color .3s
            &:hover
                background $amarelo
                color #000
.growl
    border-radius 0 !important
    opacity 1 !important
.growl-title
    fira 13 semi
    font-size 13px !important
    letter-spacing .7px
    margin-bottom .3em
    text-transform uppercase
.growl-message
    fira 14
    font-size 14px !important
