.clube-index
    +mobile()
        padding-top 5%
        a + a
            margin-top 5px
    a
        display block
        position relative
        clearfix()
        .titulo
            width 50%
            position relative
            float left
            height 0
            padding-bottom 50%
            background #fff
            color #000
            transition background .3s, color .3s
            span
                position absolute
                width 100%
                top 50%
                left 0
                transform translateY(-50%)
                display block
                padding-top 65px
                background $img('clube-icone-24x32.png') no-repeat center top
                aleo 40 light
                text-align center
                +tablet()
                    font-size 32px
            +mobile()
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(#000, .7)
                color #fff
                span
                    font-size 24px
        img
            display block
            width 50%
            float left
            height auto
            +mobile()
                width 100%
        +above($tablet)
            &:hover
                .titulo
                    background #000
                    color #fff
