.contato
    position relative
    .box
        &:before
            background-image $img('box-contato.jpg')
    form
        width 100%
        margin-top 50px
        float left
        clearfix()
        position relative
        input
        textarea
            border 2px solid #000
            outline 0
            fira 14
            padding 15px
            float left
            clear left
            margin-top -2px
            +placeholder()
                color #a7a9ac
        input[type=text]
        input[type=email]
            height 54px
            width 265px
        input[type=text]
            margin-left 285px
        input[type=email]
            margin-left 430px
        textarea
            resize none
            width 695px
            height 300px
            line-height 1.5
        button
            position relative
            width 160px
            float left
            cursor pointer
            border 2px solid #000
            height 32px
            text-align center
            outline 0
            background #000
            cursor pointer
            font-size 0
            clear left
            margin-top 18px
            span
                position absolute
                width 100%
                top 50%
                transform translateY(-50%)
                left 0
                fira 12 medium
                letter-spacing .7px
                color #fff
                transition color .4s cubic-bezier(0.4, 0, 0.2, 1)
                z-index 2
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background #fff
                transform scale(0, 1)
                transform-origin right center
                transition transform .4s cubic-bezier(0.4, 0, 0.2, 1)
            &:hover
                span
                    color #000
                &:after
                    transform-origin left center
                    transform scale(1,1)
        #form-contato-response
            display none
            width 100%
            float left
            clear left
            margin 10px 0 -5px
            background $amarelo
            width 695px
            color #000
            padding 10px
            text-align center
            text-transform uppercase
            fira 12
            letter-spacing .7px
        img
            position absolute
            left 695px
            top 50px
        +tablet()
            input[type=text]
            input[type=email]
                width 50%
                margin 0
                float left
                clear none
            input[type=email]
                border-left none
            textarea
                width 100%
                height 200px
            #form-contato-response
                width 100%
            img
                display none
        +mobile()
            margin-top 30px
            input[type=text]
            input[type=email]
                width 100%
                clear none
                margin-left 0
            textarea
                width 100%
                height 160px
            #form-contato-response
                width 100%
            img
                display none
