.home
    position relative
    .banners
        position relative
        width 100%
        height 623px
        background #F6F6F7
        overflow hidden
        +tablet()
            height 500px
        +mobile()
            height 468px
        .cycle-control
            position absolute
            width 60px
            height 60px
            z-index 103
            top 50%
            transform translateY(-50%) rotate(45deg)
            border 2px solid #fff
            +below($tablet)
                display none
            &.cycle-prev
                left calc('50% - 570px')
                border-top none
                border-right none
            &.cycle-next
                right calc('50% - 570px')
                border-bottom none
                border-left none
        .cycle-pager
            position absolute
            width 100%
            height 4px
            bottom 20px
            left 50%
            transform translateX(-50%)
            z-index 102
            font-size 0
            text-align center
            clearfix()
            +mobile()
                display none
            a
                width 60px
                height 4px
                display inline-block
                background #E9E9EA
                margin 0 3px
                transition background .3s
                text-indent -9999px
                &.cycle-pager-active
                    background $amarelo
        .slide
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            &:before
                content ''
                position absolute
                top 0
                left calc('50% + 170px')
                width 963px
                height 100%
                background $img('bg-banner.jpg') no-repeat center
                +tablet()
                    left calc('50% + 100px')
                    background-size cover
                    background-position center left
                +mobile()
                    top auto
                    bottom 0
                    left -100px
                    height 120px
            .center
                clearfix()
                height 100%
            .imagem
                display block
                position absolute
                right -150px
                top 100px
                img
                    display block
                +tablet()
                    width 520px
                    height 300px
                    right -120px
                    top 100px
                    img
                        width 100%
                        height auto
                +mobile()
                    position absolute
                    width 100%
                    top auto
                    bottom 0
                    left 0
                    img
                        width 380px
            .texto-wrapper
                height 100%
                display table
                position relative
                z-index 2
                .texto
                    display table-cell
                    vertical-align middle
                    clearfix()
                    h3
                        fira 15 medium
                        color #000
                        margin 0 0 1em
                        display inline-block
                        float left
                        clear left
                        padding 5px 0
                    h2
                        aleo 47 light
                        margin 0
                        display inline-block
                        float left
                        clear left
                    .link-wrapper
                        display inline-block
                        float left
                        clear left
                        margin-top 16px
                        a
                            display inline-block
                            fira 12 medium
                            background #000
                            padding 10px 12px 9px
                            border 2px solid #000
                            transition color .3s, background .3s
                            color #fff
                            letter-spacing .7px
                            &:hover
                                background #fff
                                color #000
                    +tablet()
                        h3
                            font-size 14px
                        h2
                            font-size 36px
                +mobile()
                    height 250px
                    .texto
                        h3
                            font-size 13px
                        h2
                            font-size 24px
            &.slide-direita
                .imagem
                    right auto
                    left -150px
                    +tablet()
                        right auto
                        left -120px
                    +mobile()
                        left 0
                +above($mobile)
                    .texto-wrapper
                        float right
                        .texto
                            h3
                            h2
                            .link-wrapper
                                float right
                                clear right
                &:before
                    left auto
                    right calc('50% + 170px')
                    +tablet()
                        left auto
                        right calc('50% + 100px')
                        background-position center right
                    +mobile()
                        left auto
                        right -100px
    .abertura
        margin 50px 0 25px
        +mobile()
            margin 25px 0
        clearfix()
        img
            width 56.87%
            float left
            margin-left -16.65%
            +tablet()
                width 48%
                margin-left -13%
            +mobile()
                display none
        .texto
            width 57%
            float right
            padding-top 70px
            h2
                aleo 30 light
                margin 0 0 .5em
            p
                fira 15
                margin 0
                a
                    display inline-block
                    margin-top 20px
                    color #fff
                    fira 12 medium
                    padding 8px 17px 7px
                    position relative
                    border 2px solid #000
                    &:before
                        content ''
                        position absolute
                        width 100%
                        height 100%
                        top 0
                        left 0
                        background #000
                        z-index -2
                    &:after
                        content ''
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 100%
                        background #fff
                        transform scale(0, 1)
                        z-index -1
                        transform-origin right center
                        transition transform .4s cubic-bezier(0.4, 0, 0.2, 1)
                    &:hover
                        color #000
                        &:after
                            transform-origin left center
                            transform scale(1,1)
            +tablet()
                width 63%
                padding-top 7%
            +mobile()
                width 100%
                padding 0
                h2
                    font-size 26px
                p
                    font-size 14px
    .solucoes
        h2
            text-align center
            aleo 40
            margin 0 0 1em
            +tablet()
                font-size 32px
            +mobile()
                font-size 26px
                text-align left
            +below($tablet)
                margin-top 1.7em
        .center > div
            display flex
            flex-wrap wrap
            font-size 0
        .solucao
            display inline-block
            vertical-align top
            width calc('33.333% - 13.333px')
            margin-right 20px
            margin-bottom 20px
            position relative
            &:nth-child(3n)
                margin-right 0
            +mobile()
                text-align center
                width calc('50% - 10px')
                &:nth-child(3n)
                    margin-right 20px
                &:nth-child(2n)
                    margin-right 0
            .imagem
                overflow hidden
                img
                    width 100%
                    display block
                    transition transform .3s
            .novo
                position absolute
                display inline-block
                fira 12
                background #000
                padding 8px 14px 7px
                color #fff
                top 25px
                left -10px
                letter-spacing .7px
            .overlay
                background rgba($amarelo, .8)
                position absolute
                bottom 0
                left 0
                width 100%
                height auto
                transition background .3s
                h3
                    padding 25px 38px
                    aleo 30
                    margin 0
                    line-height 1
                    +tablet()
                        padding 25px
                        aleo 24
                    +mobile()
                        padding 20px
                        aleo 20
                .texto
                    display none
                    padding 0 38px 35px
                    +below($tablet)
                        display none !important
                    p
                        fira 15
                        margin 0
                    span
                        fira 14 medium
                        color #fff
                        display inline-block
                        margin-top 20px
                        background #000
                        padding 10px 16px 8px
                        letter-spacing .7px
                        transition color .3s
                        &:hover
                            color $amarelo
            +above($tablet)
                &:hover
                    img
                        transform scale(1.1, 1.1) translateY(-7px)
                    .overlay
                        background $amarelo
    .clientes
        margin 50px 0
        h2
            text-align center
            aleo 40
            margin 0 0 1em
            +tablet()
                font-size 32px
        .center > div
            display flex
            flex-wrap wrap
            font-size 0
        .cliente
            display inline-block
            vertical-align top
            width calc('33.333% - 13.333px')
            margin-right 20px
            margin-bottom 20px
            background #F6F6F7
            border-bottom 8px solid $amarelo
            padding 30px
            text-align center
            h3
                aleo 18 light
                margin 0 0 .8em
            p
                fira 14
                margin 0
            &:nth-child(3n)
                margin-right 0
        +mobile()
            margin 25px 0
            h2
                font-size 26px
                text-align left
            .cliente
                width 100%
                margin-right 0
                text-align left
                padding 20px
                border-bottom 4px solid $amarelo
                margin-bottom 15px
    .frase-bg
        width 100%
        background $img('bg-home.jpg') no-repeat center
        background-size cover
        padding 55px 0
        h2
            text-align center
            aleo 29 light
            color #fff
            line-height 1.25
            strong
                color $amarelo
        +tablet()
            padding 40px
            h2
                font-size 27px
        +mobile()
            padding 20px 0
            h2
                text-align left
                font-size 22px
    .espresso
        margin 50px 0 -100px
        overflow hidden
        .center
            clearfix()
        .texto
            width 40.2%
            float left
            padding-top 28px
            h3
                fira 15 semi
                margin 0 0 20px
                display inline-block
                padding-top 12px
                border-top 2px solid #000
            h2
                aleo 46 light
                margin 0
            p
                fira 15
                margin 1.2em 0
                max-width 85%
        .imagem
            width 44.79%
            float right
            position relative
            img
                display block
            .letra
                position absolute
                width 160px
                height 228px
                background $img('home-s.png') no-repeat center
                top 100px
                left 60px
                opacity 0
                transition all 1.2s cubic-bezier(0.4, 0, 0.2, 1)
                &.visible
                    left -124px
                    opacity 1
        +tablet()
            margin 40px 0 0
        +mobile()
            margin 25px 0 -50px
            .texto
                width 100%
                padding-top 0
                h2
                    font-size 30px
            .imagem
                width 100%
                margin-top 15px
                img
                    width 180%
                .letra
                    display none
