.main
    .center
        clearfix()
    overflow hidden
    &.clube
        overflow visible
    .cabecalho
        position relative
        height 620px
        background-size cover
        background-position center
        background-repeat no-repeat
        +tablet()
            height 500px
        +mobile()
            height 250px
    .box
        width 550px
        min-height 435px
        margin-top -330px
        position relative
        z-index 2
        &:before
            content ''
            position absolute
            z-index -1
            background-color #000
            background-repeat no-repeat
            width 2000px
            height 100%
        .texto
            padding 90px 70px
            h3
                fira 14 medium
                color #febd18
                margin 0 0 1.4em
            h2
                aleo 40 light
                color #fff
                margin 0 0 .5em
                letter-spacing .7px
                &:last-child
                    margin-bottom 0
                strong
                    aleo 40 regular
            h4
                fira 15
                color #fff
                margin 0
                line-height 1.5
                strong
                    fira 15 medium
        &.box-left
            float left
            &:before
                right 0
                top 0
                background-position right bottom
            .texto
                text-align right
                +above($tablet)
                    padding-left 0
        &.box-right
            float right
            &:before
                left 0
                top 0
                background-position left bottom
            .texto
                text-align left
                +above($tablet)
                    padding-right 0
        +tablet()
            min-height 300px
            margin-top -220px
            &:before
                background-size auto 100%
            .texto
                padding 70px 50px
                h3
                    font-size 13px
                h2
                    font-size 36px
                    strong
                        font-size 36px
                h4
                    font-size 14px
        +mobile()
            margin-top 0
            width 100%
            min-height auto
            &:before
                left auto !important
                right -10% !important
                background-image none !important
            .texto
                text-align left !important
                padding 25px 0 !important
                h3
                    font-size 12px
                h2
                    font-size 24px
                    strong
                        font-size 24px
                h4
                    font-size 13px
