.onde-encontrar
    position relative
    .box
        &:before
            background-image $img('box-processo.jpg')
    .center
        clearfix()
    h2.frase
        width 100%
        float left
        margin 2.4em 0
        aleo 36
        text-align center
        +tablet()
            font-size 30px
        +mobile()
            font-size 20px
            text-align left
            margin 1.5em 0
    .mapa-wrapper
        background #F6F6F7
        clearfix()
        height 455px
        +mobile()
            height auto
        .center
            height 100%
        .mapa
            width 65%
            height 100%
            float left
            #map
                width 100%
                height 100%
            +mobile()
                width 100%
                height 300px
        .lista-estabelecimentos
            width 35%
            float left
            background #fff
            padding 0 20px
            +mobile()
                width 100%
                padding 0
                background transparent
                margin-top 10px
            form
                height 52px
                margin-bottom 10px
                width 100%
                clearfix()
                input[type=text]
                    width calc('100% - 57px')
                    height 100%
                    float left
                    background #000
                    border 0
                    color #fff
                    outline 0
                    padding 0 12px
                    fira 14
                input[type=submit]
                    width 52px
                    height 100%
                    background #000
                    border 0
                    outline 0
                    float right
                    color #fff
                    fira 18 bold
                    line-height 52px
                    cursor pointer
                    +mobile()
                        font-size 16px
            .estabelecimentos
                height 393px
                overflow auto
                overflow-x hidden
                width 100%
                background #E5E5E5
                padding 20px
                a
                    display block
                    fira 16
                    transition all .3s
                    &:hover
                        padding-left 5px
                    + a
                        margin-top 15px
                +mobile()
                    height 250px
                    a
                        font-size 14px
