.para-o-seu-negocio
    position relative
    .box
        &:before
            background-image $img('box-contato.jpg')
        ul
            padding 0
            margin 50px 0 0
            li
                list-style none
                display inline-block
                padding-left 25px
                fira 12 semi
                letter-spacing .7px
                color #fff
                background $img('bullet-box.png') no-repeat center left
                line-height 23px
                &:last-child
                    margin-left 25px
            +mobile()
                margin-top 20px
                li
                    display block
                    margin-left 0 !important
                    &:first-child
                        margin-bottom 5px
    .center
        clearfix()
    .texto-wrapper
        width 100%
        float left
        clear both
        margin-top 50px
        +mobile()
            margin-top 20px
        clearfix()
        .titulo
            width calc('100% - 440px')
            float left
            text-align right
            padding-right 50px
            h2
                display inline-block
                aleo 35
                margin 0
                padding-bottom .45em
                border-bottom 2px solid #000
            +tablet()
                width calc('100% - 380px')
                padding-right 40px
                h2
                    font-size 30px
            +mobile()
                width 100%
                padding 0
                text-align left
                h2
                    font-size 26px
                    margin-bottom 12px
        .texto
            width 440px
            float left
            p
                fira 15
                line-height 1.5
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            +tablet()
                width 380px
            +mobile()
                width 100%
                margin-top 20px
                p
                    font-size 14px
    .titulo-grande
        width 100%
        background $img('bg-negocio.png') center
        background-size auto 100%
        min-height 344px
        margin 50px 0 0
        padding 150px 0
        h2
            aleo 45
            margin 0
            line-height 1
            text-align center
        +tablet()
            min-height auto
            margin 40px 0 0
            padding 65px 0
            h2
                font-size 36px
        +mobile()
            min-height auto
            margin 30px 0 0
            padding 40px 0
            h2
                font-size 30px
    .texto2-wrapper
        clearfix()
        .texto
            width 42.19%
            float left
            padding 50px
            padding-left 0
            h4
                fira 14 medium
                margin 0 0 1.5em
                + h2
                    margin-top 0
            h2
                aleo 40 light
                margin .8em 0
                strong
                    font-weight 400
            h3
                fira 15 bold
                margin 0
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            p
                fira 15
                line-height 1.5
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                + h3
                    margin-top 2em
        .imagem
            width 57.81%
            float right
            position relative
            margin-top -80px
            img
                width 100%
                display block
            &:after
                content ''
                width 971px
                height 482px
                position absolute
                bottom 0
                left 100%
                background $img('detalhe-negocio.jpg') no-repeat center
        +tablet()
            .texto
                width 60%
                padding 40px
                padding-left 0
                h2
                    font-size 32px
            .imagem
                width 40%
                margin-top 40px
                &:after
                    display none
        +mobile()
            .texto
                width 100%
                padding 25px 0
                h2
                    font-size 28px
                p
                    font-size 14px
            .imagem
                width 100%
                margin-top 0
                &:after
                    display none
    .texto3-wrapper
        clearfix()
        .texto
            width 57.81%
            float right
            padding 50px
            padding-right 0
            h4
                fira 14 medium
                margin 0 0 1.5em
                + h2
                    margin-top 0
            h2
                aleo 40 light
                margin .8em 0
                strong
                    font-weight 400
            h3
                fira 15 bold
                margin 0
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            p
                fira 15
                line-height 1.5
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                + h3
                    margin-top 2em
        .imagem
            width 42.19%
            float left
            position relative
            direction rtl
            img
                display block
        +tablet()
            .texto
                width 60%
                padding 40px
                padding-right 0
                h2
                    font-size 32px
            .imagem
                width 40%
                margin-top 40px
                img
                    width 100%
                &:after
                    display none
        +mobile()
            .texto
                width 100%
                padding 25px 0
                h2
                    font-size 28px
                p
                    font-size 14px
            .imagem
                width 100%
                margin-top 0
                img
                    width 100%
