.processo-produtivo
    position relative
    .box
        &:before
            background-image $img('box-processo.jpg')
    .center
        clearfix()
    .texto-wrapper
        width 100%
        float left
        clear both
        margin-top 50px
        +mobile()
            margin-top 20px
        clearfix()
        .titulo
            width calc('100% - 550px')
            float left
            text-align right
            padding-right 50px
            +above($tablet)
                margin-top -8px
            h2
                display inline-block
                aleo 35
                margin 0
                padding-bottom .45em
                border-bottom 2px solid #000
            +tablet()
                width calc('100% - 380px')
                padding-right 40px
                h2
                    font-size 30px
            +mobile()
                width 100%
                padding 0
                text-align left
                h2
                    font-size 26px
                    margin-bottom 12px
        .texto
            width 550px
            float left
            h3
                fira 15 bold
                margin 0
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            p
                fira 15
                line-height 1.5
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                + h3
                    margin-top 2em
            +tablet()
                width 380px
            +mobile()
                width 100%
                margin-top 20px
                p
                    font-size 14px
    .grupo-imagens
        position relative
        float left
        margin-top 60px
        +mobile()
            margin-top 30px
        img
            display block
            width 100%
        .top
            width 100%
            float left
            clearfix()
            img:nth-child(1)
                width 57.29%
                float left
            img:nth-child(2)
                width 38.02%
                float right
                margin-bottom 4.1%
        .left
            width 36.97%
            float left
            clearfix()
            img:nth-child(1)
                margin-top 49%
            img:nth-child(2)
                width 80%
                float right
                margin-top 11%
        .right
            width 63.03%
            float left
            clearfix()
            img:nth-child(2)
                width 47.10%
                margin-left 6.5%
                margin-top 6%
