.sobre
    position relative
    .box
        &:before
            background-image $img('box-processo.jpg')
    .center
        clearfix()
    .texto-wrapper
        position relative
        width 100%
        min-height 670px
        clearfix()
        .graos
            position absolute
            top 0
            left 0
            width 527px
            height 845px
            background $img('graos.png') no-repeat center
        .texto
            width 48%
            float right
            margin-top 40px
            h2
                aleo 40 light
                margin .8em 0
                strong
                    font-weight 400
            h3
                fira 15 bold
                margin 0
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            p
                fira 15
                line-height 1.5
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                + h3
                    margin-top 2em
                &.titulo-inferior
                    margin 1.5em 0 1em
                    display inline-block
                    aleo 32
                    padding-bottom .45em
                    position relative
                    &:after
                        content ''
                        position absolute
                        left 0
                        bottom 0
                        width 25%
                        height 2px
                        background #000
            +tablet()
                h2
                    font-size 32px
            +mobile()
                h2
                    font-size 28px
                p
                    font-size 14px
        +tablet()
            min-height auto
            .graos
                display none
            .texto
                width 80%
                margin-left 20%
        +mobile()
            min-height auto
            .graos
                display none
            .texto
                width 100%
                p.titulo-inferior
                    font-size 20px
                    margin 1em 0 2.2em
    .texto2-wrapper
        width 100%
        float left
        clearfix()
        .imagem
            width 410px
            float left
            position relative
            z-index -2
            padding-top 50px
            img
                display block
                transform translateX(-60px)
        .left
            width 550px
            float left
            .box-2
                min-height 435px
                position relative
                &:before
                    content ''
                    position absolute
                    z-index -1
                    background-color $amarelo
                    background-repeat no-repeat
                    background-image $img('detalhe-sobre.jpg')
                    background-position bottom right
                    width 2000px
                    height 100%
                    right 0
                    top 0
                .texto
                    position absolute
                    bottom 50px
                    left 0
                    h3
                        fira 14 medium
                        color 000
                        margin 0 0 1.4em
                    h2
                        aleo 40 light
                        color #fff
                        margin 0 0 .5em
                        letter-spacing .7px
                        &:last-child
                            margin-bottom 0
                        strong
                            aleo 40 regular
                    +tablet()
                        h3
                            font-size 13px
                        h2
                            font-size 36px
                            strong
                                font-size 36px
                    +mobile()
                        h3
                            font-size 12px
                        h2
                            font-size 24px
                            strong
                                font-size 24px
            .texto2
                padding-right 100px
                margin-top 40px
                h2
                    aleo 40 light
                    margin .8em 0
                    strong
                        font-weight 400
                h3
                    fira 15 bold
                    margin 0
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
                p
                    fira 15
                    line-height 1.5
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
                    + h3
                        margin-top 2em
                    &.titulo-inferior
                        margin 1.5em 0 .5em
                        display inline-block
                        aleo 32
                        padding-bottom .45em
                        position relative
                        &:after
                            content ''
                            position absolute
                            left 0
                            bottom 0
                            width 25%
                            height 2px
                            background #000
                +tablet()
                    h2
                        font-size 32px
                +mobile()
                    h2
                        font-size 28px
                    p
                        font-size 14px
        +mobile()
            .imagem
                width 100%
                padding-top 30px
                img
                    width 100%
                    transform none
            .left
                width 100%
                .box-2
                    width 100%
                    min-height auto
                    &:before
                        background $amarelo
                        right -200px
                    .texto
                        position relative
                        bottom auto
                        padding 25px 0
                        width 100%
                .texto2
                    padding 0
                    margin-top 25px
        +tablet()
            margin-top 30px
            .imagem
                width 100%
                padding-top 30px
                img
                    width 100%
                    transform none
            .left
                width 100%
                .box-2
                    width 100%
                    min-height auto
                    &:before
                        right -200px
                    .texto
                        position relative
                        bottom auto
                        padding 85px 0 25px
                        width 100%
                .texto2
                    padding 0
                    margin-top 25px
    .texto3-wrapper
        width 100%
        margin 50px 0
        float left
        padding-left 318px
        background $img('simbolo-sobre.jpg') no-repeat 60px -30px
        min-height 417px
        .texto
            max-width 522px
            h2
                aleo 40 light
                margin .8em 0
                strong
                    font-weight 400
            h3
                fira 15 bold
                margin 0
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            p
                fira 15
                line-height 1.5
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                + h3
                    margin-top 2em
        +tablet()
            padding-left 290px
            background-position 20px -30px
            margin 50px 0 35px
            .texto
                h3
                    font-size 14px
                h2
                    font-size 36px
                    strong
                        font-size 36px
        +mobile()
            margin 30px 0
            padding 0
            min-height auto
            background none
            .texto
                width 100%
                h3:first-child
                    font-size 12px
                h2
                    font-size 28px
                p
                    font-size 14px
    .texto4-wrapper
        width 100%
        float left
        position relative
        clearfix()
        .imagem
            position absolute
            bottom 0
            left 0
            width 40%
            direction rtl
            z-index 3
            img
                display block
            +tablet()
                width 100%
                position relative
                img
                    width 110%
            +mobile()
                position relative
                width 100%
                bottom auto
                left auto
                float left
                img
                    width 100%
        .box-3
            width 619px
            min-height 619px
            position relative
            z-index 2
            float right
            &:before
                content ''
                position absolute
                z-index -1
                background-color #000
                background-repeat no-repeat
                background-image $img('box-sobre.jpg')
                width 2000px
                height 100%
                left 0
                top 0
                background-position left bottom
            .texto
                padding 120px 150px 90px
                padding-right 0
                h3
                    fira 14 medium
                    color #febd18
                    margin 0 0 1.4em
                h2
                    aleo 40 light
                    color #fff
                    margin 0 0 .5em
                    letter-spacing .7px
                    &:last-child
                        margin-bottom 0
                    strong
                        aleo 40 regular
                p
                    fira 15
                    color #fff
                a
                    display inline-block
                    margin-top 2em
                    fira 14 semi
                    padding 8px 20px 7px
                    border 1px solid #fff
                    color #fff
                    transition background .3s, color .3s
                    &:hover
                        background #fff
                        color #000
            +tablet()
                min-height 300px
                width 100%
                &:before
                    background-size auto 100%
                .texto
                    padding 70px 50px
                    h3
                        font-size 13px
                    h2
                        font-size 36px
                        strong
                            font-size 36px
            +mobile()
                width 100%
                min-height auto
                margin-bottom 20px
                &:before
                    left auto !important
                    right -10% !important
                    background-image none !important
                .texto
                    text-align left !important
                    padding 25px 0 !important
                    h3
                        font-size 12px
                    h2
                        font-size 24px
                        strong
                            font-size 24px
                    p
                        font-size 14px
